# Node.js dependencies
node_modules/


# Environment variables
.env

#Api File
E-Justice_Bharat_API.json
# Logs
logs/
*.log



# OS-specific files
.DS_Store
Thumbs.db

# Debugging
.vscode/
.idea/

# Optional npm cache directory
.npm/

